#root{
  -fx-background-color: #000;
  -fx-background-image: url("file:///home/fil/Firefox_wallpaper.png");
}

PasswordField{
/*  -fx-background-color: transparent; */
	-fx-background-color: rgba(255,255,255,0.5);
}
